@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;800&family=Inter:wght@400;500;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600&family=Raleway:ital,wght@0,100;0,200;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&display=swap');


/* *{

font-family: 'Be Vietnam Pro', sans-serif;
} */

:root{
    --light-clr: hsl(0, 0%, 100%);
    --dark-clr: hsl(223, 12%, 11%);
    --accent-clr: hsl(52, 100%, 97%);
    --pink-clr: hsl(340, 96%, 62%);
    --yellow-clr: hsl(50, 100%, 72%);
    --nav-height: 1.8rem;
    --number-of-columns: 4;
    --font-weight-light:300;
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-bold:800;
}

@media screen and (min-width: 48em) {
    :root{
        --number-of-columns: 8;
    }
}

@media screen and (min-width: 64em) {
    :root{
        --number-of-columns: 12;
    }
}

*, 
*::before, 
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--dark-clr)
}

body.scroll-false{
    overflow-y: hidden;
}

@media screen and (min-width: 48em) {
    body{
        font-size: 1.6rem;
    }
}

a{
    color: inherit;
    text-decoration:none;
}

ul{
    list-style-type: none;
}

img, picture{
    display: block;
    max-width: 100%;
}

input,
button{
    font:inherit;
    background-color: transparent;
    border: none;
    outline: none;
}

i{
    font-size: 2.4rem;
    line-height: 2.4rem;
}

section{
    overflow: hidden;
}

/* Reusable Classes */
.button{
    display: inline-block;
    font-weight: var(--font-weight-medium);
    text-align: center;
}

.button--dark{
    background-color: var(--dark-clr);
    color: var(--light-clr);
}

.button--dark:hover{
    background-color: hsl(223, 12%, 19%)
}

.container{
    max-width: 117rem;
    margin-inline: auto;
    padding-inline: 1.8rem;
}


/* Header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--nav-height);
}

.nav__overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s visibility 0.25s;
}

.nav__overlay.active{
    opacity: 1;
    visibility: visible;
}

.nav__menu{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 27rem;
    background-color: var(--accent-clr);
    padding: 5.4rem 1.8rem;
    transform: translateX(28rem);
    transition: transform .25s;
}


.nav__menu.active{
    transform: translateX(0);
}

.nav__search{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    border: .15rem solid var(--dark-clr);
    border-radius: .8rem;
    margin-bottom: 1rem;
}

.nav__search:focus-within{
    border-color: var(--pink-clr);
}

.nav__search-icon{
    display: inline-flex;
}

.nav__search-input{
    width: 100%;
}

.nav__search-input::placeholder{
    font-size: 1.4rem;
    color: inherit;
    transition: opacity .25s;
}

.nav__search-input:focus::placeholder{
     opacity: 0;
}

.nav__list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav__list-link{
    display: inline-block;
    padding: .5rem;
    transition: color .25s;
}

.nav__list-link:hover{
    color: var(--pink-clr)
}

.nav_button{
    display: block;
    padding: 1.2rem 2.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: .8rem;
    transition: background-color 0.25s;
}

.nav__close{
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
}